<div class='all_about'>
		<div id='intro'>
			<h1 style='color: #f05a78;'>Hello!</h1>
			<h2>My name is <em>Jubille</em>. A.k.a. Alien.</h2><br/>
			<div id='description'>
				<h3>I am a junior full-stack developer who...</h3>
				<br/>
				<ul>
					<li>can give you <strong>ideas</strong> you've never had time to think about,</li>
					<li>loves to <strong>create</strong> original content,</li>
					<li>enjoys working in a team of <strong>responsible</strong> people,</li>
					<li><strong>respects</strong> time and effort of others,</li>
					<li>has <strong>skills</strong> that is worth your time,</li>
					<li>and loves to <strong>learn</strong> and keep an open mind.</li>
				</ul>
			</div>
		</div>
</div>

<div id='all_skills'>
	<div class='skills'>
		<h3>Let me join your team, and I'll write you...</h3>
	</div>
	<div class='skillset'>
		<div id='code'>
			<h1>Efficiently Versatile Code</h1>
			<p>"What makes a good code good, is that it's correct and readable."</p>
		</div>

		<div id='html'>
			<h2>HTML</h2>
	   		<div id='logo'><%= image_tag 'html_logo.png', class: 'img-responsive' %></div>
	   		<br/><br/>
	   		<div id='icons'>
				<%= link_to '/codes/html1', id: 'etchasketch' do %>
				   	<%= image_tag 'etchasketch.png', class: 'img-responsive' %>
				<% end %>
				<%= link_to '/codes/html2', id: 'rps' do %>
					<%= image_tag 'rps.png', class: 'img-responsive' %>
				<% end %>
				<%= link_to '/codes/html3', id: 'calc' do %>
				   	<%= image_tag 'calc.png', class: 'img-responsive' %>
				<% end %>
			</div>
		</div>
		<div id='css'>
			<h2>CSS</h2>
	   		<div id='logo'><%= image_tag 'css_logo.png', class: 'img-responsive' %></div>
	   		<br/><br/>
	   		<div id='icons'>
				<%= link_to '/codes/css1', id: 'etchasketch' do %>
				   	<%= image_tag 'etchasketch.png', class: 'img-responsive' %>
				<% end %>
				<%= link_to '/codes/css2', id: 'rps' do %>
					<%= image_tag 'rps.png', class: 'img-responsive' %>
				<% end %>
				<%= link_to '/codes/css3', id: 'calc' do %>
				   	<%= image_tag 'calc.png', class: 'img-responsive' %>
				<% end %>
			</div>
	   	</div>

		<div id='javascript'>
			<h2>JavaScript</h2>
	   		<div id='logo'><%= image_tag 'javascript_logo.png', class: 'img-responsive' %></div>
	   		<br/><br/>
			<div id='icons'>
				<%= link_to '/codes/js1', id: 'etchasketch' do %>
				   	<%= image_tag 'etchasketch.png', class: 'img-responsive' %>
				<% end %>
				<%= link_to '/codes/js2', id: 'rps' do %>
					<%= image_tag 'rps.png', class: 'img-responsive' %>
				<% end %>
				<%= link_to '/codes/js3', id: 'calc' do %>
				   	<%= image_tag 'calc.png', class: 'img-responsive' %>
				<% end %>
			</div>		
		</div>
		<div id='ruby'>
			<h2>Ruby</h2>
	   		<div id='logo'><%= image_tag 'ruby_logo.png', class: 'img-responsive' %></div>
	   		<br/><br/>
		</div>
		<div id='ruby_on_rails'>
			<h2>Ruby on Rails</h2>
	   		<div id='logo'><%= image_tag 'rails_logo.png', class: 'img-responsive' %></div>
	   		<br/><br/>
		</div>
	</div>
</div>

<div class='all_creations'>
	<div class='creations'>
		<h3>These codes work!</h3>
		<p>Scroll down to view on browser.</p>
	</div>
	<div class='projects'>
	</div>
</div>



