<div class='header_css'>
	<a href='/main/index#all_skills'><h3>CSS3</h3></a>
</div>
<div class='title'>
	<p>Etch-A-Sketch</p>
</div>
<div class='main'>
	<div id='previous'>
		<%= link_to '/codes/html3' do %>
	   		<%= image_tag 'left.svg', class: 'img-responsive' %>
		<% end %>
	</div>
	<div id='code'>
		<%= link_to 'https://aliensjit.github.io/Etch-A-Sketch/' do %>
	   		<%= image_tag 'css1.jpg', class: 'code_doc' %>
		<% end %>
	</div>
	<div id='next'>
		<%= link_to '/codes/css2' do %>
	   		<%= image_tag 'right.svg', class: 'img-responsive' %>
		<% end %>
	</div>
</div>