<div class='header_html'>
	<a href='/main/index#all_skills'><h3>HTML5</h3></a>
</div>
<div class='title'>
	<p>Calculator</p>
</div>
<div class='main'>
	<div id='previous'>
		<%= link_to '/codes/html2' do %>
	   		<%= image_tag 'left.svg', class: 'img-responsive' %>
		<% end %>
	</div>
	<div id='code'>
		<%= link_to 'https://aliensjit.github.io/Calculator/' do %>
	   		<%= image_tag 'html3.png', class: 'code_doc' %>
		<% end %>
	</div>
	<div id='next'>
		<%= link_to '/codes/html4' do %>
	   		<%= image_tag 'right.svg', class: 'img-responsive' %>
		<% end %>
	</div>
</div>