<div class='header_js'>
	<a href='/main/index#all_skills'><h3>Java Script</h3></a>
</div>
<div class='title'>
	<p>Rock-Paper-Scissors</p>
</div>
<div class='main'>
	<div id='previous'>
		<%= link_to '/codes/js1' do %>
	   		<%= image_tag 'left.svg', class: 'img-responsive' %>
		<% end %>
	</div>
	<div id='code'>
		<%= link_to 'https://aliensjit.github.io/Rock-Paper-Scissors/' do %>
	   		<%= image_tag 'js2.jpg', class: 'code_doc' %>
		<% end %>
	</div>
	<div id='next'>
		<%= link_to '/codes/js3' do %>
	   		<%= image_tag 'right.svg', class: 'img-responsive' %>
		<% end %>
	</div>
</div>