<div class='header_js'>
	<a href='/main/index#all_skills'><h3>Java Script</h3></a>
</div>
<div class='title'>
	<p>Calculator</p>
</div>
<div class='main'>
	<div id='previous'>
		<%= link_to '/codes/js2' do %>
	   		<%= image_tag 'left.svg', class: 'img-responsive' %>
		<% end %>
	</div>
	<div id='code'>
		<%= link_to '/creations/js3' do %>
	   		<%= image_tag 'js3.jpg', class: 'img-responsive' %>
		<% end %>
	</div>
	<div id='next'>
		<%= link_to '/main/index#all_skills' do %>
	   		<%= image_tag 'right.svg', class: 'img-responsive' %>
		<% end %>
	</div>
</div>